<div class="row">
    <h3>Host and Interfaces</h3>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <interface-component [interfaces]="hostList" 
         (onInterfaceModified)="updateInterface($event)"
         (onInterfaceDelete)="delete($event)"
        isHost="true"></interface-component>
    </div>
</div>