<div class="row">
        <div class="col-sm-12">
            <div class="row">
                <form #hostForm="ngForm" novalidate>
                    <div class="form-group col-sm-4" #hostForm>
                        <label>{{typeName}} Name</label>
                        <input [(ngModel)]="currentHost.interfaceName" class="form-control" name="hostName" #hostName   ngModel required>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{typeName}} Loopback</label>
                        <input [(ngModel)]="currentHost.interfaceLoopBack"  class="form-control" name="loopback" #loopback ngModel required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}(([0-9]|[1-2][0-9]|3[0-2]))?$">
                        <validation-errors  [control]="loopback"></validation-errors>
                    </div>                   
                    <button class="btn btn-primary" style="margin-top: 25px;" (click)="callEnterfaceModified()">Add</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>{{typeName}} Name</th>
                        <th>{{typeName}} LoopBack</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of interfaces;let i=index">
                        <td width="20px">{{i+1}}</td>
                        <td>{{h.interfaceName}}</td>
                        <td>{{h.interfaceLoopBack}}</td>
                        <td>
                            <button class="btn btn-primary">
                                <i class="glyphicon glyphicon-pencil" (click)="edit(h)" ></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="glyphicon glyphicon-trash" (click)="delete(i)" ></i>
                            </button>
                            <button *ngIf="isHost" class="btn btn-primary" (click)="editInterFace(interfaceModel,h)">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div style="display: none">
   
    <ng-template #interfaceModel [ngIf]="isHost" > <!--   -->
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Interfaces</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                   <interface-component [interfaces]="hostInterface.interfaces" 
                   (onInterfaceModified)="hostInterFaceModified($event)"
                   (onInterfaceDelete)="hostInterfaceDelete($event)"
                    [isHost]="false"></interface-component>            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="saveHostList()">Save</button>
                <button class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
            </div>
    </ng-template>
 </div>
    <ng-template #notFirst>
        Or Not!
      </ng-template>
